[package]
name = "chess_engine"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
wgpu = "23.0"
winit = "0.30"
pollster = "0.4"
image = "*"
bytemuck = { version = "1.14", features = ["derive"] }
